<h2>Products</h2>

<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vm.ready;else loading">
    <div *ngFor="let product of vm.products">

      <h3>
        <a [title]="product.title" [routerLink]="['/products', product.id]">
          {{ product.name }}
        </a>
      </h3>
      <p *ngIf="product.description">
        Description: {{ product.description }}
      </p>

      <p *ngIf="product.category">
        Category: {{ product.category }}
      </p>      

      <button (click)="share()">
        Share
      </button>

      <app-product-alerts [product]="product" (notify)="onNotify()">
      </app-product-alerts>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  Loading ...
</ng-template>
